.links {
    .link-icon  {
        color: gray;
        font-size: 14px;
    }
    .link-shop {
        color: gray;
        font-size: 14px;
    }
    .link-home {
        font-size: 14px;
        color: black;
    }
    a {
        text-decoration: none;
    }
}